repos:

# `actionlint` hook, for verifying correct syntax in GitHub Actions workflows.
# Some additional configuration for `actionlint` can be found in `.github/actionlint.yaml`.
- repo: https://github.com/rhysd/actionlint
  rev: v1.7.8
  hooks:
    - id: actionlint
      language: golang
      additional_dependencies:
        # actionlint has a shellcheck integration which extracts shell scripts in `run:` steps from GitHub Actions
        # and checks these with shellcheck.
        # see also: https://github.com/rhysd/actionlint/pull/482
        - "github.com/wasilibs/go-shellcheck/cmd/shellcheck@v0.11.1"
